### input and output methods
  reading the data or information from the user ***input()***  
  - static input  
  - dynamic input  
  displaying the information or data to the user ***print()***

In [1]:
a=20  
b=30  
print(a)  
print(b)

20
30

In [2]:
a=input()  
a

divya

'divya'

In [3]:
a=input("enter user value")  
a

enter user value324

'324'

In [4]:
a=float(input("enter user value"))  
a

enter user value231

231.0

In [5]:
a=input("enter value")  
print(a)

enter value324
324

In [18]:
a=20  
b=30  
c=40  
print(a,b,c, sep=',',)    
print(c)

20,30,40
40

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
# generate three values from the user the value seperated with $ and end with %  
a=input("enter user value")  
b=input("enter user value")  
c=input("enter user value")  
print(a,b,c,sep='$',end='%',)

enter user value20
enter user value30
enter user value40
20$30$40%

### operators  
- assignment operators(=)  
- arithmetic operators(+,-,/,*,//,)
 output for the normal division is quotient  
 output for the int division or float division is integer part of the quotient  
 output for the modulo division is remainder  
- comparision operators(<,>,<=,>=,==) 
- logical operators(and or not)
- bitwise operators(&,//,!)
- identity operators(==),isnot(!=) 
- membership operators(in,notin)

### Arithmetic operators

In [4]:
a=50  
b=23  
print("addition",a+b)  
print("subtraction",a-b)  
print("multiplication",a*b)  
print("power",a*b)  
print("division",a/b)  
print("int division or floor division",a//b)  
print("modulo division",a%b)

addition 73
subtraction 27
multiplication 1150
power 1150
division 2.1739130434782608
int division or floor division 2
modulo division 4

### Assignment operator  
- it represents with =  
-left side of the operator (=) is called as variable
- right side of the variable is called as value

In [5]:
a=20  
b=30  
print(a)  
print(b)

20
30

### Comparision operator

In [6]:
2>5

False

In [7]:
2<6

True

In [11]:
if 2<=9 and 2>=9:
   print("print true or false")  
else:  
   print("divya")

divya

### Logical operators  
- and,or,not  
- if all the inputs are true the output is true(and)  
- if any of the input is true the output is true(or)  
- opposite operation for the given one(not)

In [12]:
3>5 and 4<5

False

In [13]:
5<2 or 5>2

True

In [14]:
5<9 or 8>3

True

In [15]:
a=100  
not a

False

### Bitwise operator

In [16]:
2 & 3
# 2- 0 0 1 0 
# 3- 0 0 1 1  
# --------------  
#  - 0 0 1 0

2

In [17]:
3|4

7

### Identity operator

In [18]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\exam\AppData\Local\Temp/ipykernel_4956/3974128756.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\exam\AppData\Local\Temp/ipykernel_4956/3974128756.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [20]:
a==100 and a!=100

False

### Membership operators

In [25]:
s=[1,2,3,4,5]   
4 in s

True

In [26]:
10 not in s

True

In [29]:
2 not in s

False

### Flow control

In [55]:
conditional Statements(if,else,elif,nestedif)
loops(while,for)

SyntaxError: invalid syntax (Temp/ipykernel_4956/433067779.py, line 1)

In [33]:
# c-language
if(condition){
    print(a)
}

SyntaxError: invalid syntax (Temp/ipykernel_4956/1604681096.py, line 2)

### conditional statements

In [ ]:
# if
if(condition):
    statement1
    statement2
    statement3
    -----------
    statementn

In [ ]:
# if else
if(condition):
    statement1
    statement2
    statement3
    -----------
    statementn
else:
    statement1
    statementn

In [34]:
if 2>3:
    print("True")
    print("False")

In [35]:
if 2>3:
    print("True")
else:    
    print("False")

False

In [36]:
# given number is even or odd 
n=int(input("enter value"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter value4
even number

In [41]:
# given number is zero or positive or negative
n=25
if(n==0):
    print("zero")
elif(n<=0):
    print("positive")
else:
    print("negative")

negative

In [42]:
# number is divisible by 2 not by 10
a=23
if a%2 is 0 and a%0 is not 0:
    print("valid number")
else:
    print("invalid number")

invalid number

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\exam\AppData\Local\Temp/ipykernel_4956/152430470.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if a%2 is 0 and a%0 is not 0:
C:\Users\exam\AppData\Local\Temp/ipykernel_4956/152430470.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if a%2 is 0 and a%0 is not 0:

In [44]:
a=43
if a%2 == 0 and a%0 != 0:
    print("valid number")
else:
    print("invalid number")

invalid number

### Range
- syntax for the range is range(start,endvalue,step value)
- starting value is inclusive and end value is exclusive

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(10,20,2)
# 20,22,24,26,28
range(20,41,5)
# 20,25,35,40
range(50)
# consider as start value
range(20,10)
# consider start value or end value 
# reverse print
range(10,1,-1)

In [46]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [49]:
list(range(20,41,5))

[20, 25, 30, 35, 40]

In [50]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [51]:
list(range(20,10))

[]

In [2]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### loops

In [ ]:
for loop is an itterative statement

In [ ]:
syntax
      for itter in iterable: * range predefined function in the position of iterable
        statement1
        statement2
        statement3
        ----------
        statementn

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [9]:
for i in range(0,11,2):
    print(i,end=",")

0,2,4,6,8,10,

In [4]:
# print the even numbers in the range of 0 to 100
# and print even number count
c=0
 for i in range(0,101,2):
      if i%2==0:  
       c=c+1
    print(i,end=" ") 
    print("\n even number count",c)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [10]:
# print leap year from the range of 2000 to 2020 print years
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%100==0) and(i%100!=0) or(i%4==0):
        c=c+1
        print(i,end="")
        print("\nyears count:",c)

2000
2020
2000
years count: 1
2004
years count: 2
2008
years count: 3
2012
years count: 4
2016
years count: 5
2020
years count: 6

In [19]:
# print 5 table
n=5
for i in range(1,11):
    print(n,'*' ,i,'=',n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# print factors of 5
n=int(input(i))
for i in range(i,n+1):
    if(n%i)==0:
        print(i,end=' ')

In [1]:
# I/p=aba
# 97+98+97-292
# o/p=292
a=input()
s=0
for i in a:
    s=s+ord(i)  
print(s)

abc
294

In [2]:
# prime number
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
        print("prime number")
else:
        print("not prime number")

5
prime number

In [9]:
# print 0 to 10 even or odd
n=int(input)
m=int(input)
print("even numbers are:",end" ")
for i in range(n,m+1):
    if(n%2==0):
        print(i,end " ")
    print("odd numbers are:",end " ")
    for i in range(n,m+1 ):
        if(i%2!=0):
            print(i,end " ")

SyntaxError: invalid syntax (Temp/ipykernel_4652/3534825245.py, line 4)